body {
     margin: 0;
     padding: 5;
     font-family: Arial, sans-serif;
     background: url('admin-background.jpg') no-repeat center center fixed;
     background-size: cover;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 
 .form-container {
     background: rgba(0, 0, 0, 0.6);
     padding: 30px;
     border-radius: 10px;
     width: 400px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
     margin-top: 20px;
 }
 
 h1 {
     text-align: center;
     margin-bottom: 20px;
     padding-bottom: 10;
 }
 
 .form-group {
     margin-bottom: 15px;
 }
 
 label {
     font-size: 14px;
     margin-bottom: 5px;
     display: block;
 }
 
 input, textarea {
     width: 100%;
     padding: 10px;
     font-size: 16px;
     border: none;
     border-radius: 5px;
     margin-top: 5px;
     background-color: #f4f4f4;
 }
 
 textarea {
     resize: vertical;
     height: 100px;
 }
 
 button.btn {
     width: 100%;
     padding: 12px;
     background-color: #007bff;
     border: none;
     border-radius: 5px;
     color: white;
     font-size: 16px;
     cursor: pointer;
 }
 
 button.btn:hover {
     background-color: #0056b3;
 }
 