body {
     background: url('user-background.jpg') no-repeat center center fixed;
     background-size: cover;
     color: white;
}

.toolbar {
     background-color: rgba(0, 0, 0, 0.8);
     overflow: hidden;
     padding: 10px 0;
     text-align: center;
}

.toolbar a {   
     display: block;
     color: white;
     padding: 14px 20px;
     text-decoration: none;
     display: inline-block;
}

.toolbar a:hover {
     background-color: #575757;
     border-radius: 10px;
}

.toolbar .active {
     background-color: #d9c8c8;
     color: rgb(18, 18, 18);
     border-radius: 10px;
     
 }
h1 {
     text-align: center;
     margin: 20px 0;
     text-shadow: 2px 2px 5px black;
}

table {
     width: 80%;
     margin: 20px auto;
     border-collapse: collapse;
     background: rgba(255, 255, 255, 0.8);
     color: black;
}

table,
th,
td {
     border: 1px solid black;
     text-align: center;
}

th,
td {
     padding: 10px;
     font-size: 1.1em;
}

th {
     background-color: #333;
     color: white;
}

tr:nth-child(even) {
     background-color: #f2f2f2;
}

tr:hover {
     background-color: #ddd;
}